.pnpm-store
node_modules
dist
coverage
.env
migrations
dev.db
dev.db-journal
test.db
.DS_Store
local.db
typedoc
.cursor
.codex
tsp-output
.claude
CLAUDE.md
logs
wrangler.jsonc
server-build
.agents
nakita628-todo-docs
server-build
worker-configuration.d.ts
.wrangler
drizzle
docs/hono-takibi/docs
.next
.open-next
next-env.d.ts
tsconfig.tsbuildinfo
docs/hono-takibi/public
.dev.vars