openapi: 3.1.0
info:
  title: Reusable Parameters
  version: 1.0.0

components:
  parameters:
    UserId:
      name: id
      in: path
      required: true
      description: User ID
      schema:
        type: string
        format: uuid
    PageLimit:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
    RequestId:
      name: X-Request-Id
      in: header
      schema:
        type: string

paths:
  /users/{id}:
    get:
      parameters:
        - $ref: "#/components/parameters/UserId"
        - $ref: "#/components/parameters/PageLimit"
        - $ref: "#/components/parameters/RequestId"
      responses:
        "200":
          description: OK
