@import "tailwindcss";

:root {
    @apply h-full bg-black
}

body {
    @apply h-full bg-black
}

@utility scrollbar-hide {
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}