name: test

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm -F hono-takibi deps

      - name: Check
        run: pnpm check

      - name: Typecheck
        run: pnpm -F hono-takibi typecheck

      - name: Build
        run: pnpm -F hono-takibi build

      - name: Test
        run: pnpm vitest run packages/hono-takibi --coverage